
.profile-card
{	
	margin: auto;
	background: #fff;
}
.image-container
{
	position: relative;
}
.info
{
	color: #4b4ef2;
	margin-right: 16px;
}
.main-container
{
	padding: 20px;
}
.rating
{
	background-color: #bdc9ea;
	border-radius: 16px;
}
.bar
{
	padding: 0.1em 16px;
	border-radius: 16px;
	text-align: center;
	color: #fff;
	background-color: #4b4fe2;
}
.title
{
	position: absolute;
	left: 15px;
	bottom: 0;
}
